 * {
  box-sizing: border-box;
} 

 



/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin-left: 12px;
  border-radius: 5px;
  background-color: #f1f1f1;
}
.img{
  width:120px;
}

.example-item {
  float: left;
  
}
.cdk-virtual-scroll-data-source-example .example-viewport {
  height: 300px;
  width: 3500px;
  border: 1px solid black;
}

.cdk-virtual-scroll-data-source-example .example-viewport .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: row;
}

.cdk-virtual-scroll-data-source-example .example-item {
  width: 170px;
  height: 20%;
  
}

